body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(221, 235, 230);
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 button {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: rgb(66, 160, 132);
    border-color: rgb(66, 160, 132);
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

#result, #verifyResult {
    padding-left: 25px;
 }
